header {
background-image: url("../assets/bg-header-desktop.png");
background-position: center top 20%;
background-repeat: no-repeat;
background-size: cover;
}

.hero {
text-align: center;
display: flex;
height: 90vh;
justify-content: center;
align-items: center;
padding: 0 23px;
img {
margin: 40px 0;
}
p {
max-width: 724px;  
}
}



@media only screen and (max-width: 1024px) and (min-width: 320px) {
 header {
     background-image: url("../assets/bg-header-mobile.png");
     background-position: center top 20%;
background-repeat: no-repeat;
background-size: cover;
 }
}