.networks {
flex: 1 1 200px;
display: flex;
justify-content: flex-end;
align-items: center;
a {
        color: $grey-darker;
    }
    a:hover{
        color: $blue-middle;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 320px) {
    .networks {
            justify-content: center;
            margin-top: 30px;
        }
}
