// Color Primary
$grey-darker: hsl(210, 10%, 33%);
$grey-lighter: hsl(201, 11%, 66%);
$white: #ffff;
$white-middle: #F5F6F8;

// Color Neutral
$blue-lighter: hsl(171, 66%, 44%);
$blue-middle: hsl(171, 69%, 44%);
$blue-darker: hsl(233, 100%, 69%);

